/WebExtensionApi.Web/WebExtensionApi.Core/bin
/WebExtensionApi.Web/WebExtensionApi.Web/obj
/WebExtensionApi.Web/WebExtensionApi.Web/bin
/WebExtensionApi.Web/WebExtensionApi.BlogCore/bin
/WebExtensionApi.Web/WebExtensionApi.BlogCore/obj
/WebExtensionApi.Web/WebExtensionApi.BlogDB/bin
/WebExtensionApi.Web/WebExtensionApi.BlogDB/obj
/WebExtensionApi.Web/WebExtensionApi.BlogServices/bin
/WebExtensionApi.Web/WebExtensionApi.BlogServices/obj
/WebExtensionApi.Web/WebExtensionApi.Core/obj
/WebExtensionApi.Web/WebExtensionApi.DataBase/obj
/WebExtensionApi.Web/WebExtensionApi.DataBase/bin
