@model WebExtensionApi.BlogCore.DAL.WEAObject
@{
    ViewBag.Title = "Extension";
}
<link href="~/Content/WebExtensionApi/WebExtensionApi.css" rel="stylesheet" />
<script src="~/Scripts/WebExtensionApi/WebExtensionApi.js"></script>
<style>

</style>
<script type="text/javascript">


    $(document).ready(function () {
        var data = @Html.Raw(Model.JSON);

        webExtensionApi = new WebExtensionApi({
            containerId: "extension-container",
            jQueryPath:  "/Scripts/jquery-1.8.2.min.js"
        });

        //<div id="test_container"></div>

        //.wea_rating{
        //    color: red;
        //}

        //var doc = $("#test_container");
        //var html = '<h1>Top rated blog posts:</h1>';
        //var j = 0;
        //for (var i in DataSources.Blogs) {
        //    var dataSource = DataSources.Blogs[i];
        //    html += "<div class='wea_rating'>Rating: " + dataSource.Rating + "</div><div>" + dataSource.Text + "</div><hr/>";
        //    j++;
        //    if (j > 5) {
        //        break;
        //    }
        //}

        //doc.html(html);
    });

</script>


<h2>Extension</h2>

@Html.ActionLink("Blog", "Index")
<br />
<div id="extension-container"></div>