@{
    ViewBag.Title = "Extension";
}

<script src="~/Scripts/WebExtensionApi/WebExtensionApi.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        webExtensionApi = new WebExtensionApi({
            dataSources: [
                 {
                     Name: "Blogs",
                     Url: "/Blog/GetBlogs"
                 }
            ],
            containerId: "extension-container",
            width: 1024,
            height: 840

        })



        setTimeout(function () {
            var doc = $("#" + webExtensionApi.ContainerID)[0].contentWindow.document;
            var body = $('body', doc);
            var html = '<h1>Top rated blog posts:</h1>';
            var j = 0;
            console.info(webExtensionApi.DataSources.Blogs);
            for (var i in webExtensionApi.DataSources.Blogs) {
                console.info('test');
                var dataSource = webExtensionApi.DataSources.Blogs[i];
                html += "<div>" + dataSource.Text + "</div><hr />";
                j++;
                if (j > 5) {
                    break;
                }
            }

            body.html(html);
        }, 1000);
    });

</script>


<h2>Extension</h2>

@Html.ActionLink("Blog", "Index")
<br />
<iframe id="extension-container"></iframe>